.info_panel {
  background-color: #B4D890;
  color: black;
  width:25vw;
  position: absolute;
  border-radius: 0.5vw;
  top: 1.5vw;
  right: 1.5vw;
  text-align: left;
  padding: 0.8vw;
  font-size: 1vw;
}
